<!DOCTYPE html>
<html>
  <head>
    <title>Cloud: The Game</title>
    <script data-main="/public/js/main" src="public/js/external/require.js"></script>
    <link type="text/css" rel="stylesheet" href="public/css/interface.css">
    <link type="text/css" rel="stylesheet" href="public/css/external/toastr.min.css">
  </head>
  <body>
    <canvas id="canvas" style="background-color: black; width: 800px; height: 600px; float: left;"></canvas>
    <div id="user-interface" style="float: left">
      <div id="stats">
        <div>
          <span>Requests: </span>
          <span id="total-requests">0</span>
        </div>
        <div>
          <span>Dropped: </span>
          <span id="total-dropped">0</span>
        </div>
        <div>
          <span>% Dropped:</span>
          <span id="percent-dropped">0</span>%
        </div>
      </div>
      <div id="bank">
        <span>Bank: $</span>
        <span id="money"></span>
      </div>
      <div class="resource_selector">
        <div id="add-server" class="resource_image"></div>
        <div id="add-loadbalancer" class="resource_image"></div>
      </div>
      <div id="selected">
        <div>Available Actions:</div>
        <span id="options">
          <button id="buy-resource" class="resource-action">Buy!</button>
          <button id="upgrade-1" class="resource-action">Upgrade 1</button>
          <button id="upgrade-2" class="resource-action">Upgrade 2</button>
          <button id="delete" class="resource-action">Delete Server</button>
        </span>
      </div>
    </div>
  </body>
</html>
