<!DOCTYPE html>
<html>
  <head>
    <title>User Name</title>
    <script data-main="/public/js/main" src="public/js/external/require.js"></script>
  </head>
  <body>
    <canvas id="canvas" style="background-color: black;"></canvas>
    <button id="add_server">Add Server</button>
    <button id="add_loadbalancer">Add Loadbalancer</button>
  </body>
</html>

