<!DOCTYPE html>
<html>
  <head>
    <title>User Name</title>
    <script data-main="/public/js/main" src="public/js/external/require.js"></script>
  </head>
  <body>
    Hi There! Good luck, don't suck!
  </body>
</html>
