<!DOCTYPE html>
<html>
  <head>
    <title>Cloud: The Game</title>
    <script data-main="/public/js/main" src="public/js/external/require.js"></script>
    <link type="text/css" rel="stylesheet" href="public/css/interface.css">
    <link type="text/css" rel="stylesheet" href="public/css/external/toastr.min.css">
  </head>
  <body>
    <canvas id="canvas" style="background-color: black;"></canvas>
    <div id="user-interface">
      <div id="stats">
        <div>
          <span>Requests: </span>
          <span id="total-requests">0</span>
        </div>
        <div>
          <span>Dropped: </span>
          <span id="total-dropped">0</span>
        </div>
        <div>
          <span>% Dropped:</span>
          <span id="percent-dropped">0</span>%
        </div>
      </div>
      <div id="bank">
        <span>Bank: $</span>
        <span id="money"></span>
      </div>
      <button id="add-server">Add Server ($100)</button>
      <button id="add-loadbalancer">Add Loadbalancer ($125)</button>
      <div id="selected">
        <div>Available Actions:</div>
        <span id="options">
          <button id="upgrade-1">Upgrade 1</button><br />
          <button id="upgrade-2">Upgrade 2</button><br />
          <button id="delete">Delete Server</button>
        </span>
      </div>
    </div>
  </body>
</html>
