<!DOCTYPE html>
<html>
  <head>
    <title>User Name</title>
    <script data-main="/public/js/main" src="public/js/external/require.js"></script>
  </head>
  <body>
    <canvas id="canvas" style="background-color: black;"></canvas>
    <script src="easeljs.min.js"></script>
    <script src="particles.js"></script>
  </body>
</html>
