#user-interface {
  position: absolute;
  display: inline;
  margin-left: 15px;
}

#bank {
  font-weight: bold;
}

#add-server {
  background-color: orange;
  color: white;
}

#add-loadbalancer {
  background-color: purple;
  color: white;
}

#selected {
    font-weight: bold;
    margin-top: 200px;
}


#upgrade-1, #upgrade-2 {
  background-color: green;
  color: white;
  width:150px;
}


#delete {
  background-color: red;
  color: white;
  width:150px;
}