#user-interface {
  position: absolute;
  display: inline;
  padding: 15px 0px 0px 15px;
  background-image: url('/public/images/menu_background.png');
  color: white;
  height: 585px;
  width: 250px;
  border-left: 3px solid gray;
}

#bank {
  font-weight: bold;
}

#stats {
  margin-bottom: 15px;
}

.resource_image {
  height: 79px;
  width: 100px;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 20px 20px 0px 0px;
}

#add-server {
  background-image: url('/public/images/cloud_server.png');
}

#add-loadbalancer {
  background-image: url('/public/images/cloud_lb.png');
}

#selected {
  font-weight: bold;
  margin-top: 200px;
}

.resource-action {
  color: white;
  font-weight: bold;
  width: 150px;
}

#buy-resource {
  background-color: green;
}

#upgrade-1, #upgrade-2 {
  background-color: #5e5e5e;
}

#delete {
  background-color: red;
}