#user-interface {
  position: absolute;
  display: inline;
  padding: 15px 0px 0px 15px;
  background-image: url('/public/images/menu_background.png');
  color: white;
  height: 585px;
  width: 250px;
  border-left: 3px solid gray;
}

#bank {
  font-weight: bold;
}

#stats {
  margin-bottom: 15px;
}

#add-server, #add-loadbalancer {
  color: white;
  font-weight: bold;
}

#add-server {
  background-color: #FF8800;
}

#add-loadbalancer {
  background-color: purple;
}

#selected {
    font-weight: bold;
    margin-top: 200px;
}


#upgrade-1, #upgrade-2 {
  background-color: #5e5e5e;
  color: #aaa;
  width:150px;
}


#delete {
  background-color: red;
  color: white;
  width:150px;
}